html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.maiusculo {
  text-transform: uppercase;
}

.minusculo {
  text-transform: lowercase;
}

/* Primeira letra de cada palavra maiúscula */
.capitalize {
  text-transform: capitalize;
}

.form-control.is-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25) !important;
}

/* Se existir foco específico que esteja aplicando a sombra verde,
    forçamos também quando estiver em foco */
.form-control.is-invalid:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25) !important;
}