<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home"
        asp-action="Dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-hand-holding-usd"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Invest Tools</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Dashboard">
            <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
        </a>

    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Cadastro
    </div>

    <!-- Nav Item - Cadastro Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Perfil</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Investidores</h6>
                <a class="collapse-item" asp-area="" asp-controller="Investidor" asp-action="List">Dados do Investidor</a>
                <a class="collapse-item" asp-area="" asp-controller="Home" asp-action="Carteira">Carteiras de Investimento</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Negociações
    </div>

    <!-- Nav Item - Negociações Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNegociacao"
            aria-expanded="true" aria-controls="collapseNegociacao">
            <i class="fas fa-fw fa-piggy-bank"></i>
            <span>Negociações de Ativos</span>
        </a>
        
        <div id="collapseNegociacao" class="collapse" aria-labelledby="headingNegociacao" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Renda Fixa</h6>
                <a class="collapse-item" asp-area="" asp-controller="Home" asp-action="Colors" title="LCI, LCA, CDB, Tesouro Direto, CRI, CRA,...">LCI, LCA, Tes Dir, ...</a>
                <h6 class="collapse-header">Renda Variável</h6>
                <a class="collapse-item" asp-area="" asp-controller="Home" asp-action="Borders" title="Ações, FIIs, ETFs, ...">Ações, FIIs, ETFs, ...</a>
                <a class="collapse-item" asp-area="" asp-controller="Home" asp-action="Borders">Preço Médio dos Ativos</a>
            </div>
        </div>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>